// These colors are specific to the theme. Do not use in a package!
@white: #ffffff;
@black: #000000;
@very-light-gray: lighten(@light-gray,100%); //Should be white;
@light-gray: #777777;
@gray: #0d0d0d;
@dark-gray: #141414;

@cyan: #22bbff; //Cyan
@magenta: #ff64ff; //Magenta: //Dark pink: ff64ff
@light-magenta: #ffbbff; //Light Pink: ffbbff
@blue: #00c3ff; // Blue
@light-cyan: #00f3ff; //Cyan - a bit lighter
@light-cyan-alt: #00c3ff; //Blue from bash terminal: #00c3ff
@orange: #ffc333; //Orange, walked back a bit. //Orange from bash terminal: #ffc333
@light-orange: #fc0;  //Orange Rich
@green: hsl( 85, 93%, 76%); //Dark Green
@light-green: hsl( 85, 59%, 76%); //Light Green
@nice-green: #a5f56d; //was #cf0; Nice green: a5f575; Green from terminal: #a5f56d
@purple: #ff64ff; //Magenta equal to @magenta
