// These colors are specific to the theme. Do not use in a package!
@white: #ffffff;
@black: #000000;
@very-light-gray: lighten(@light-gray,100%); //Should be white;
@light-gray: #777777;
@gray: #0d0d0d;
@dark-gray: #141414;
@barely-visible-gray: #010102;

@cyan: #22bbff; //Cyan
@magenta: #ff64ff; //Magenta: //Dark pink: ff64ff
@light-magenta: #ffbbff; //Light Pink: ffbbff
@blue: #00c3ff; // Blue
@light-cyan: #00f3ff; //Cyan - a bit lighter
@light-cyan-alt: #00c3ff; //Blue from bash terminal: #00c3ff
@orange: #ffc333; //Orange, walked back a bit. //Orange from bash terminal: #ffc333
@light-orange: #fc0;  //Orange Rich
@nice-yellow: hsl(48,100%,50%); // #fc0; // Nice Yellow same as orange rich
@nice-yellow-muted: darken(@nice-yellow, 25%); // Nice Yellow same as orange rich
@nice-yellow-very-muted: darken(@nice-yellow, 40%); // Nice Yellow same as orange rich
@nicer-yellow-very-muted: darken(@nice-yellow, 43%); // Nice Yellow same as orange rich
@nice-teal: hsl(170,100%,50%); // #00ffd5; // hsl(170.1,100%,50%)
@nice-teal-muted: darken(@nice-teal, 25%); // #00806a // hsl(170.1,100%,25.1%) // Nice Yellow same as orange rich
@nice-teal-very-muted: darken(@nice-teal, 43%); // rgb(0,36,30) // hsl(170.1,100%,7.1%) // Nice Yellow same as orange rich
@nicer-teal-muted: rgb(100,100,70); // #646446 // hsl(60,17.6%,33.3%); hunter green really.
@green: hsl( 85, 93%, 76%); //Dark Green
@light-green: hsl( 85, 59%, 76%); //Light Green
@nice-green: #a5f56d; //was #cf0; Nice green: a5f575; Green from terminal: #a5f56d
@purple: #ff64ff; //Magenta equal to @magenta
