@import "colors";
// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @white;
@syntax-cursor-color: @cyan;
@syntax-selection-color: lighten(@dark-gray, 10%);
@syntax-background-color: @black;

// Guide colors
@syntax-wrap-guide-color: @dark-gray;
@syntax-indent-guide-color: @gray;
@syntax-invisible-character-color: @gray;

// For find and replace markers
@syntax-result-marker-color: @light-gray;
@syntax-result-marker-color-selected: @white;

// Gutter colors
@syntax-gutter-text-color: @very-light-gray;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @dark-gray;
@syntax-gutter-background-color-selected: @gray;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @light-cyan;

//Other
@string: @green;
@stringQuotes: @white;
@stringAtSymbol: @white;
@parameterParentheses: @white;
@syntax-array: #900; //Not sure what this affects.
@syntax-heading: #900; //Not sure what this affects.
@syntax-italic: #900; //Not sure what this affects.
@syntax-bold: #900; //Not sure what this is.
@syntax-identity: #900; //Not sure what this is.
@objectMethod: @cyan; //src in gulp.src
@objectName: @magenta; //gulp in gulp.src
@methodName: @blue; //function in function myFunc() {}
@functionName: @blue; //function in function myFunc() {}
@functionValue: @blue; // myFunc in function myFunc() {}
@console: @light-green; //"console" as in console.log. Also strings.
@tag: @light-cyan; //head, html, body
@JSON: @light-orange;  //JSON in JSON.parse
@attributeName: @orange; //name  in name="viewport"
@attributeValue: @orange;  //viewport  in name="viewport"
@variableTag: @blue;  //var in var = "test"
@variableName: @white;  //test in var = "test"
@parameterValue: @magenta;
@objectProperty: @white;
@objectPropertyValue: @orange;
@integer: @orange;
@comment: @light-gray;
@arrow: @nice-green;
@scrollbar: @light-orange;

// For language entity colors
@syntax-color-variable: #DF6A73;
@syntax-color-constant: #DF6A73;
@syntax-color-property: #DF6A73;
@syntax-color-value: #D29B67;
@syntax-color-function: #61AEEF;
@syntax-color-method: @syntax-color-function;
@syntax-color-class: #E5C17C;
@syntax-color-keyword: #a431c4;
@syntax-color-tag: #b72424;
@syntax-color-attribute: #87400d;
@syntax-color-import: #97C378;
@syntax-color-snippet: #97C378;


// General colors
// @syntax-text-color: #333;
// @syntax-cursor-color: #333;
// @syntax-selection-color: #69c;
// @syntax-selection-flash-color: #00f; // Color the selection is 'flashed' when you run find next
// @syntax-background-color: #000;

// Guide colors
// @syntax-wrap-guide-color: #ccc;
// @syntax-indent-guide-color: #ccc;
// @syntax-invisible-character-color: #ccc;

// For find and replace markers
// @syntax-result-marker-color: #444;
// @syntax-result-marker-color-selected: #000;

// Gutter colors
// @syntax-gutter-text-color: #333;
// @syntax-gutter-text-color-selected: #000;
// @syntax-gutter-background-color: #ccc;
// @syntax-gutter-background-color-selected: #eee;

// For git diff info. i.e. in the gutter
// @syntax-color-added: green;
// @syntax-color-modified: orange;
// @syntax-color-removed: red;
// @syntax-color-renamed: blue;
//
// @text-color
// @text-color-subtle
// @text-color-highlight
// @text-color-selected
// @text-color-info
// @text-color-success
// @text-color-warning
// @text-color-error
// Background colors
// @background-color-info
// @background-color-success
// @background-color-warning
// @background-color-error
// @background-color-highlight
// @background-color-selected
// @app-background-color



// Base colors
// @base-background-color
// @base-border-color

// Component colors
// @pane-item-background-color
// @pane-item-border-color
// @input-background-color
// @input-border-color
// @tool-panel-background-color
// @tool-panel-border-color
// @inset-panel-background-color
// @inset-panel-border-color
// @panel-heading-background-color
// @panel-heading-border-color
// @overlay-background-color
// @overlay-border-color
// @button-background-color
// @button-background-color-hover
// @button-background-color-selected
// @button-border-color
// @tab-bar-background-color
// @tab-bar-border-color
// @tab-background-color
// @tab-background-color-active
// @tab-border-color
// @tree-view-background-color
// @tree-view-border-color

// Site colors
// @ui-site-color-1
// @ui-site-color-2
// @ui-site-color-3
// @ui-site-color-4
// @ui-site-color-5

// Sizes
// @disclosure-arrow-size
// @component-padding
// @component-icon-padding
// @component-icon-size
// @component-line-height
// @tab-height
// @font-size

// Misc
// @component-border-radius
// @font-family
